[Desktop Entry]
Encoding=UTF-8
Version=1.1.1
Type=Application
Terminal=false
Exec=/usr/bin/python3 /usr/bin/aurapad
Name=AuraPad
Icon=/opt/apicn.png

